data/dataset/raw_data_medium-utv_sorted.csv
sabd/
sabd_win/
report/_minted-report/
report/report.aux
report/report.log
report/report.pdf
report/report.synctex.gz
report/report.out
report/report.fdb_latexmk
report/report.fls
presentation/presentation.aux
presentation/presentation.log
presentation/presentation.synctex.gz
presentation/presentation.fdb_latexmk
presentation/presentation.fls
presentation/presentation.out
presentation/presentation.nav
presentation/presentation.snm
presentation/presentation.toc
